<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoDeploy" value="YES" />
    <!--<add key="HttpUrl" value="http://crosssdock-test-pc/DockAutomation/MobileManager/Appcast.xml" />-->
    <!--<add key="HttpUrl" value="http://qa.crossdock.estesinternal.com/eDockMobile/Appcast.xml" />-->
    <add key="HttpUrl" value="http://crossdock.estesinternal.com/eDockMobile/Appcast.xml" />
    <add key="IBMiSeriesDir" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\IBM i Access for Windows" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DOCKAutomationConnection" connectionString="DataSource=DEVELPDR;UserID=FMAWINT;Password=dock;LibraryList=XFMADATA,TFMAPGM,edpsuxg,LIBHTTP,YAJL;"/>-->
    <!--<add name="DOCKAutomationConnection" connectionString="DataSource=CDOCQA;UserID=FMAWIN;Password=dock;LibraryList=FMADATA,FMAPGM,edpsuxg,LIBHTTP,YAJL;" />-->
    <add name="DOCKAutomationConnection" connectionString="DataSource=CDOCP1;UserID=FMAWIN;Password=dock;LibraryList=FMADATA,FMAPGM,edpsuxg,LIBHTTP,YAJL;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>